<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body >
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
		th:replace="/fragments/common :: menu"></nav>

	<div class="container">
		
		<h2>list</h2>
		
		<div>
			<table class="table">
				<thead>
					<tr>						
						<th scope="col">idx</th>
						<th class="w-50" scope="col">title</th>
						<th scope="col">played_cnt</th>
						<th scope="col">created_date</th>
					</tr>
				</thead>
				<tbody th:each="list : ${list}">
					<tr>
						<th th:text="${list.idx}"></th>
						<th>
							<a th:href="@{/games/{idx}(idx=${list.idx})}" th:text="${list.gameTitle}"></a>
						</th>
						<th th:text="${list.playedCnt}"></th>
						<th th:text="${list.createdDate}"></th>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>
</html>
