<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body th:with="currentPage = (${#httpServletRequest.getParameter('currentPage')} != null) ? ${#httpServletRequest.getParameter('currentPage')} : 0" >
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
		th:replace="/fragments/common :: menu"></nav>

	<div class="container" th:if="!${#strings.contains(#httpServletRequest.requestURI,'creator')}">
		<!-- <div th:text="${#httpServletRequest.requestURI}"></div>
		<div th:text="${#strings.contains(#httpServletRequest.requestURI,'creator')} ? 'true' : 'false'"></div> -->
		
		<h2>게시판</h2>
		<div>
		  	<div class="float-left" th:text="|게시글 총 합계 : ${pagination.getTotalRecord}|"></div>
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="mr-5">idx</th>
						<th scope="col" class="w-50">title</th>
						<th scope="col">hit_cnt</th>
						<th scope="col">creator_id</th>
						<th scope="col">created_date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
						<th scope="row" th:text="${list.boardIdx}"></th>
						<td><a th:text="${list.title}" th:href="@{/board/write(id=${list.boardIdx})}"></a></td>
						<td th:text="${list.hitCnt}"></td>
						<td th:text="${list.creatorId}"></td>
						<td th:text="${list.createdDate}"></td>
					</tr>
					<tr th:unless="${#lists.size(list)} > 0">
						<th scope="row"></th>
						<td colspan="4">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
			<ul id="nav4" class="nav justify-content-between bg-light"> 
				<li class="nav-item">
					<div class="text-center">
						<div class="collapse" id="collapseExample">
							<div class="card card-body text-left" id="radioPlace">
								Page넘기기 방식에 대한 옵션
								<hr>
								<div class="form-check">
								  	<input class="form-check-input" type="radio" name="optRadios" id="pgOption1" value="Default" checked>
								  	<label class="form-check-label" for="optRadios">
								    	Default
							  		</label>
								</div>
								<div class="form-check">
								  	<input class="form-check-input" type="radio" name="optRadios" id="pgOption2" value="Range-Bar">
								  	<label class="form-check-label" for="optRadios">
								    	Range-Bar
						  			</label>
								</div>
								<div class="form-check">
								  	<input class="form-check-input" type="radio" name="optRadios" id="pgOption3" value="Simple" checked>
								  	<label class="form-check-label" for="optRadios">
								    	Simple
							  		</label>
								</div>
						  	</div>
						</div>
						<p>
							<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
						    	OPTION
						  	</a>
						</p>
						
					</div> 
				</li> 
				<li class="nav-item"> 
					<div id="defaultOpt" style="display:block">
					<!-- <td th:if="${data!= null}" th:text="${data}"/> -->
						<div>
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${pagination.hasPreviousPage} ? '':'disabled'">
							      <a class="page-link" th:href="@{/board/list(currentPage=0)}" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
								<li class="page-item" th:classappend="${pagination.hasPreviousPage} ? '':'disabled'">
									<a class="page-link" th:href="@{/board/list(currentPage=${currentPage}-${pagination.getSize})}">Previous</a>
								</li>
								<li class="page-item" th:each="i: ${#numbers.sequence(0, pagination.totalPage-1)}"
										th:classappend="${currentPage}/${pagination.getSize} == ${i} ? 'active' : '' ">
									<a class="page-link" th:href="@{/board/list(currentPage=${i}*${pagination.getSize})}" th:text="${i+1}"></a>
								</li>
								<li class="page-item" th:classappend="${currentPage} == ${(pagination.totalPage-1)}*${pagination.getSize} ? 'disabled':''">
									<a class="page-link" th:href="@{/board/list(currentPage=${currentPage}+${pagination.getSize})}">Next</a>
								</li>
								<li class="page-item" th:classappend="${currentPage} == ${(pagination.totalPage-1)}*${pagination.getSize} ? 'disabled':''">
							      <a class="page-link" th:href="@{/board/list(currentPage=${(pagination.totalPage-1)}*${pagination.getSize})}" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							</ul>
						</div>
					</div>
					<div id="rangeOpt" style="display:none">
						<div class="text-center">
							<label for="rangeVal" th:text="${currentPage}/${pagination.getSize}+1" id="rangeLabel"></label>
						</div>
    					<input type="range" class="form-control-range" id="range" th:step="${pagination.getSize}" th:value="${currentPage}" min="0" th:max="${(pagination.totalPage-1)}*${pagination.getSize}" >
					</div>
					<div id="simpleOpt" style="display:none">
						<div th:with="start=(${currentPage}/${pagination.getSize}-1) >= 0 ? ${currentPage}/${pagination.getSize}-1 : 0,
										 end=(${currentPage}/${pagination.getSize}+1) <= (${pagination.totalPage}-1) ? (${currentPage}/${pagination.getSize}+1) : (${pagination.totalPage}-1)">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${pagination.hasPreviousPage} ? '':'disabled'">
									<a class="page-link" th:href="@{/board/list(currentPage=${currentPage}-${pagination.getSize})}">Previous</a>
								</li>
							 	<li class="page-item" th:each="i: ${#numbers.sequence(start, end)}" th:classappend="${currentPage}/${pagination.getSize} == ${i} ? 'active' : '' ">
									<a class="page-link" th:href="@{/board/list(currentPage=${i}*${pagination.getSize})}" th:text="${i+1}"></a>
								</li>
								
								<li class="page-item" th:classappend="${currentPage} == ${(pagination.totalPage-1)}*${pagination.getSize} ? 'disabled':''">
									<a class="page-link" th:href="@{/board/list(currentPage=${currentPage}+${pagination.getSize})}">Next</a>
								</li>
							</ul>
						</div>
					</div>
				</li> 
				<li class="nav-item"> </li> 
				<li class="nav-item"> 
					<a class="btn btn-primary " th:href="@{/board/write}">Write</a>
				</li> 
			</ul>
		</div>
	</div>
	<div class="container" th:unless="!${#strings.contains(#httpServletRequest.requestURI,'creator')}">
	<h2>게시판</h2>
		<div>
		  <!-- 	<div class="float-left" th:text="|게시글 총 합계 : ${pagination.getTotalRecord}|"></div> -->
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">idx</th>
						<th scope="col">title</th>
						<th scope="col">hit_cnt</th>
						<th scope="col">creator_id</th>
						<th scope="col">created_date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
						<th scope="row" th:text="${list.boardIdx}"></th>
						<td><a th:text="${list.title}" th:href="@{/board/write(id=${list.boardIdx})}"></a></td>
						<td th:text="${list.hitCnt}"></td>
						<td th:text="${list.creatorId}"></td>
						<td th:text="${list.createdDate}"></td>
					</tr>
					<tr th:unless="${#lists.size(list)} > 0">
						<th scope="row"></th>
						<td colspan="4">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
	 	window.onload = function(){
			if(localStorage.getItem("userInfo") == null){
				var userInfo = {
						userId : 'tester', //수정예정 세션 미구현으로 하드코딩 해놓음
						option : 'Defalut',
						savedDate : Date()
				}
				localStorage.setItem("userInfo", JSON.stringify([userInfo]));
			} else {
				var savedData = JSON.parse(localStorage.getItem("userInfo"));
				for(var idx in savedData){
					if(savedData[idx].userId == 'tester'){
						if(savedData[idx].option == "Range-Bar"){ 
							displayChanger("Range-Bar");
						} else if(savedData[idx].option == "Simple"){
							displayChanger("Simple");
						}
					}
				}
			}
		}
        var origin = document.getElementById("range");
        var step = document.getElementById("range").step;
	 	var mouseDown = false;
	 	
        $('#range').on({
            mousedown: function () {
            	mouseDown = true;
                origin= $('#rangeLabel').text();
            },
            mousemove: function () {
                if (mouseDown) { 
                    $('#rangeLabel').empty();
                    $('#rangeLabel').html(origin+ " &raquo; " + ($('#range').val() / step + 1));
                }
            },
            mouseup: function () {
    			mouseDown = false;
                $('#rangeLabel').empty();
                origin = $('#range').val();
    			window.location.href= "http://localhost:8080/board/list?currentPage="+origin;
            }
        });
	 	
		document.getElementById("radioPlace").addEventListener('click', (event) => {
			const radios = document.querySelectorAll('input[name="optRadios"]');
	        for (const radio of radios) {
	            if (radio.checked) {
	            	paginationSelector(radio.value);
	                break;
	            }
	        }
		});		
		
		function paginationSelector(optName){
			displayChanger(optName); 
			changeOpt('tester', optName); //수정예정 세션 미구현으로 하드코딩 해놓음
		}
		
		function displayChanger(optName){
			var defaultOpt = document.getElementById("defaultOpt");
			var rangeOpt = document.getElementById("rangeOpt");
			var simpleOpt = document.getElementById("simpleOpt");
			
			
			if(optName === "Default"){ 
				rangeOpt.style.display = "none";
				defaultOpt.style.display = "block";
				simpleOpt.style.display = "none";
				document.getElementById("pgOption1").checked = true;
			} else if(optName === "Range-Bar"){
				defaultOpt.style.display = "none";
				simpleOpt.style.display = "none";
				rangeOpt.style.display = "block";
				document.getElementById("pgOption2").checked = true;
			} else if(optName === "Simple"){
				rangeOpt.style.display = "none";
				defaultOpt.style.display = "none";
				simpleOpt.style.display = "block";
				document.getElementById("pgOption3").checked = true;
			} else {
				alert("invalid approach!!");
				rangeOpt.style.display = "none";
				simpleOpt.style.display = "none";
				defaultOpt.style.display = "block";
				document.getElementById("pgOption1").checked = true;
			}
		}
		
		function changeOpt(userId, optName){
			var savedData = JSON.parse(localStorage.getItem("userInfo"));
			for(var idx in savedData){
				if(savedData[idx].userId == userId){
					savedData[idx].option = (optName == "Default") ? "Default" : (optName == "Range-Bar") ? "Range-Bar" : "Simple";
					savedData[idx].savedDate = Date();
				}
			}
			localStorage.setItem("userInfo", JSON.stringify(savedData));
			//console.log(JSON.parse(localStorage.getItem("userInfo")));
		}
		
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
	</script>
	
	<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
