<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/common :: head">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="/fragments/common :: menu"></nav>

	<div class="container w-50">

		<h1 class="mt-3 mb-5 text-center">Ranking</h1>
		<h2> hello world </h2>
		<th:block th:if="${list} != null AND ${titles} != null">
			<div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<th:block th:each="title : ${titles}">
						<th:block th:with="parr=${#httpServletRequest.requestURI}">
							<th:block th:with="arr = ${#strings.arraySplit(parr, '/')}">
								<th:block>
									<li class="nav-item" role="presentation">
										<a class="nav-link " th:id="|${title.game_title}-tab|" data-toggle="tab"
											th:href="@{/rank/{idx}(idx=${title.idx})}" role="tab"
											th:aria-controls="${title.game_title}"
											th:aria-selected="${title.idx}== ${arr[1]} ? 'true' : 'false' " name="links"
											th:classappend="${title.idx}==${arr[1]} ? 'active' "
											th:text="${title.game_title}"></a>
									</li>
								</th:block>
							</th:block>
						</th:block>
					</th:block>
				</ul>
				<div class="tab-content" id="myTabContent">
					<h3 class="mt-2 text-right text-muted" th:text="|Total played :  ${list[0].playedCnt}|"></h3>
					<th:block th:each="title, idx : ${titles}">
						<div class="tab-pane fade" th:id="|${title.game_title}|" role="tabpanel"
							th:classappend="${idx.index}==0 ? 'show active' "
							th:aria-labelledby="|${title.game_title}-tab|">

							<div>
								<th:block th:each="list, idx : ${list}">
									<div class="card bg-light mb-3 mt-3" style="max-width: 18rem;">
										<div class="card-header"> 
											<strong th:text="${idx.index}+1"> </strong>
										</div>
										<div class="card-body">
											<h5 class="card-title" th:text="|Score : ${list.score}|"> </h5>
											<p class="card-text" th:text="|User : ${list.userId}|"> </p>
											<p class="card-text" th:text="${list.savedTime}"> </p>
										</div>
									</div>
								</th:block>
							</div>
						
						</div>
					</th:block>

				</div>
			</div>
		</th:block>
	</div>

	<hr class="mt-4 w-75">

	<script>
		var links = document.querySelectorAll('a[name="links"]');
		for (var i = 0; i < links.length; i++) {
			links[i].addEventListener("click", function (e) {
				window.location.href = e.target.href;
			});
		}
	</script>
	<link th:href="@{/css/rankStyle.css}" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>

</html>