<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
		th:replace="/fragments/common :: menu"></nav>

	<div class="container">
		<div th:if="${board.boardIdx}>0">
			<h2>게시글 상세</h2>
		</div>
		<div th:unless="${board.boardIdx}>0">
			<h2>게시글 작성</h2>
		</div>
		<div>
			<!-- 
			<div>
				<span th:text="${board}"></span>
			</div>                                       (orderId=${o.id})
			-->
				<!-- 작성된거 열람 및 수정하는 경우임 -->
			<form method="post" th:action="@{/board/write(id=${board.boardIdx})}" th:object="${board}" th:if="${board.boardIdx}>0">
				<table class="table">
					<tbody>
						<tr>
							<th>writer</th>
							<td th:text="${board.creatorId}"></td>
							<th>hitCnt</th>
							<td th:text="${board.hitCnt}"></td>
							<th>created date</th>
							<td th:text="${board.createdDate}"></td>
						</tr>
						<tr>
							<th scope="row">title</th>
							<td colspan="5"><input type="text" th:value="${board.title}" class="form-control" th:field="*{title}"></td>
						</tr>
						<tr>
							<th scope="row">contents</th>
							<td colspan="5"><textarea class="form-control" id="content" th:field="*{contents}" rows="8"></textarea></td>
						</tr>
					</tbody>
				</table>
				<div class="text-right">
					<a class="btn btn-danger" th:href="@{/board/list}">CANCEL</a>
					<button type="submit" class="btn btn-primary">SAVE</button>
				</div>
			</form>
			<!-- 새로 작성하는 경우임 -->
			<form method="post" th:action="@{/board/write}" th:object="${board}" th:unless="${board.boardIdx}>0">
				<table class="table">
					<tbody th:unless="${board.boardIdx}>0">
						<tr>
							<th scope="row">title</th>
							<td><input type="text" class="form-control" id="title" th:field="*{title}" placeholder=""></td>
						</tr>
						<tr>
							<th scope="row">contents</th>
							<td><textarea class="form-control" id="content" th:field="*{contents}" rows="8"></textarea></td>
						</tr>
					</tbody>
				</table>
				<div class="text-right">
					<a class="btn btn-danger" th:href="@{/board/list}">CANCEL</a>
					<button type="submit" class="btn btn-primary">SAVE</button>
				</div>
			</form>
		</div>
	</div>

	<!-- /.container -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
	</script>
	<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
