<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common :: head">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="/fragments/common :: menu">
		
	</nav>
	<main role="main" class="container">
		<th:block th:if="${gameTitle}=='tetris'">
			<div th:replace="/project/game/tetris :: tetris"></div>
		</th:block>
		<th:block th:if="${gameTitle}=='brick'">
			<div th:replace="/project/game/brick :: brick"></div>
		</th:block>
        <input type="hidden" id="user" th:value="${user}">
	</main>

    
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>
	
</html>
